In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import tensorflow_hub as hub
import matplotlib.pylab as plt

2023-04-11 10:54:30.465974: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-04-11 10:54:30.619793: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-04-11 10:54:30.621105: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-04-11 10:54:31.486752: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [7]:
attribute_path = "/home/ali/projects/photo_collection/celebface-archive/list_attr_celeba.csv"
partition_path = "/home/ali/projects/photo_collection/celebface-archive/list_eval_partition.csv"
images_path = "/home/ali/projects/photo_collection/celebface-archive/img_align_celeba/img_align_celeba/"
batch_size = 128
Nodel_handle = "https://tfhub.dev/google/imagenet/efficientnet_v2_imagenet21k_ft1k_b0/feature_vector/2"
image_size = (224, 224)

In [8]:
df_attributes = pd.read_csv(attribute_path)

In [9]:
df_attributes.columns

Index(['image_id', '5_o_Clock_Shadow', 'Arched_Eyebrows', 'Attractive',
       'Bags_Under_Eyes', 'Bald', 'Bangs', 'Big_Lips', 'Big_Nose',
       'Black_Hair', 'Blond_Hair', 'Blurry', 'Brown_Hair', 'Bushy_Eyebrows',
       'Chubby', 'Double_Chin', 'Eyeglasses', 'Goatee', 'Gray_Hair',
       'Heavy_Makeup', 'High_Cheekbones', 'Male', 'Mouth_Slightly_Open',
       'Mustache', 'Narrow_Eyes', 'No_Beard', 'Oval_Face', 'Pale_Skin',
       'Pointy_Nose', 'Receding_Hairline', 'Rosy_Cheeks', 'Sideburns',
       'Smiling', 'Straight_Hair', 'Wavy_Hair', 'Wearing_Earrings',
       'Wearing_Hat', 'Wearing_Lipstick', 'Wearing_Necklace',
       'Wearing_Necktie', 'Young'],
      dtype='object')

In [57]:
selected_attributes = ["5_o_Clock_Shadow", "Bald", "Bangs", "Black_Hair", "Blond_Hair", "Brown_Hair",
                       "Eyeglasses", "Goatee", "Gray_Hair", "Male", "Mustache", "No_Beard", "Sideburns", "Smiling", "Straight_Hair", "Wavy_Hair",
                       "Wearing_Earrings", "Wearing_Hat", "Wearing_Lipstick", "Wearing_Necklace", "Wearing_Necktie"]

In [60]:
column_list = ["image_id"]
column_list.extend(selected_attributes)

In [62]:
df_attributes_selected = df_attributes[df_attributes.columns.intersection(column_list)].copy()

In [63]:
df_attributes_selected.head()

,image_id,5_o_Clock_Shadow,Bald,Bangs,Black_Hair,Blond_Hair,Brown_Hair,Eyeglasses,Goatee,Gray_Hair,...,No_Beard,Sideburns,Smiling,Straight_Hair,Wavy_Hair,Wearing_Earrings,Wearing_Hat,Wearing_Lipstick,Wearing_Necklace,Wearing_Necktie
0,000001.jpg,-1,-1,-1,-1,-1,1,-1,-1,-1,...,1,-1,1,1,-1,1,-1,1,-1,-1
1,000002.jpg,-1,-1,-1,-1,-1,1,-1,-1,-1,...,1,-1,1,-1,-1,-1,-1,-1,-1,-1
2,000003.jpg,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,1,-1,-1,-1,1,-1,-1,-1,-1,-1
3,000004.jpg,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,1,-1,-1,1,-1,1,-1,1,1,-1
4,000005.jpg,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,1,-1,-1,-1,-1,-1,-1,1,-1,-1

In [69]:
df_partition = pd.read_csv(partition_path)

In [70]:
df = pd.merge(df_attributes_selected, df_partition, on="image_id")
df = df.replace(-1,0)
df.head()

,image_id,5_o_Clock_Shadow,Bald,Bangs,Black_Hair,Blond_Hair,Brown_Hair,Eyeglasses,Goatee,Gray_Hair,...,Sideburns,Smiling,Straight_Hair,Wavy_Hair,Wearing_Earrings,Wearing_Hat,Wearing_Lipstick,Wearing_Necklace,Wearing_Necktie,partition
0,000001.jpg,0,0,0,0,0,1,0,0,0,...,0,1,1,0,1,0,1,0,0,0
1,000002.jpg,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,000003.jpg,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,000004.jpg,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,1,1,0,0
4,000005.jpg,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [112]:
def preprocess_image(image):
    image = tf.image.decode_jpeg(image, channels=3)
    image = tf.image.resize(image, image_size)
    return image

In [421]:
#TODO is there a better way to do this?

def load_and_preprocess_image(path, *args):
    image = tf.io.read_file(path)
    return preprocess_image(image), *args

In [ ]:
# def build_dataset_from_df(input_df, attr_list):
#     a_list = [images_path + image_id for image_id in input_df["image_id"]]
#     a_list.append([input_df[attr] for attr in attr_list])
#     a_tuple = tuple(a_list)
#     dataset = tf.data.Dataset.from_tensor_slices(a_tuple)
#     # dataset = dataset.map()
#     # dataset = dataset.shuffle(buffer_size=1000)
#     # dataset = dataset.repeat()
#     # dataset = dataset.batch(batch_size=)
#     # dataset = dataset.prefetch(buffer_size=tf.data.AUTOTUNE)
#     return dataset

In [422]:
def build_dataset_from_df(input_df, attr_list):
    b_list = [input_df[attr] for attr in attr_list]
    b_list.insert(0, [images_path + image_id for image_id in input_df["image_id"]])
    a_tuple = tuple(b_list)
    dataset = tf.data.Dataset.from_tensor_slices(a_tuple)
    dataset = dataset.map(load_and_preprocess_image)

    return dataset

In [423]:
ds = build_dataset_from_df(df, selected_attributes)

In [424]:
list(ds.take(3).as_numpy_iterator())

2023-04-11 17:48:06.469524: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'Placeholder/_0' with dtype string and shape [202599]
	 [[{{node Placeholder/_0}}]]

[(array([[[251.      , 232.      , 192.      ],
          [251.      , 232.      , 192.      ],
          [251.      , 232.      , 192.      ],
          ...,
          [249.62057 , 232.13397 , 218.08038 ],
          [253.69196 , 237.30804 , 220.38391 ],
          [253.      , 238.      , 219.      ]],

         [[251.      , 232.      , 192.      ],
          [251.      , 232.      , 192.      ],
          [251.      , 232.      , 192.      ],
          ...,
          [250.55467 , 233.56085 , 219.50726 ],
          [253.98763 , 238.26787 , 221.34373 ],
          [253.95982 , 238.95982 , 219.95982 ]],

         [[251.      , 232.      , 192.      ],
          [251.      , 232.      , 192.      ],
          [251.      , 232.      , 192.      ],
          ...,
          [251.50182 , 234.52861 , 220.47502 ],
          [254.      , 238.30804 , 221.38391 ],
          [254.      , 239.      , 220.      ]],

         ...,

         [[139.19653 ,  73.19653 ,  23.330444],
          [122.78071 ,  56.78071 ,   8.205889],
          [130.03867 ,  63.51947 ,  16.97929 ],
          ...,
          [120.726395,  55.59248 ,  27.525524],
          [121.42413 ,  56.618893,  28.531311],
          [120.73218 ,  56.665222,  28.531311]],

         [[129.5267  ,  63.526703,  15.526703],
          [135.86864 ,  69.86864 ,  21.868633],
          [153.03802 ,  86.06482 ,  39.524635],
          ...,
          [116.57929 ,  49.54019 ,  20.540192],
          [117.70433 ,  51.29567 ,  22.      ],
          [117.04018 ,  51.959824,  22.      ]],

         [[166.      , 100.      ,  52.      ],
          [191.60268 , 125.60268 ,  77.60268 ],
          [222.9509  , 155.97768 , 109.4375  ],
          ...,
          [117.5134  ,  49.54019 ,  20.540192],
          [118.      ,  51.      ,  22.      ],
          [118.      ,  51.      ,  22.      ]]], dtype=float32),
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  1,
  1,
  0,
  1,
  0,
  1,
  0,
  0),
 (array([[[ 65.      ,  52.      ,  44.      ],
          [ 63.61607 ,  50.61607 ,  42.61607 ],
          [ 63.973213,  50.      ,  42.486607],
          ...,
          [ 78.566986,  75.566986,  68.566986],
          [ 81.92413 ,  78.92413 ,  71.308044],
          [ 84.      ,  81.      ,  72.      ]],

         [[ 65.      ,  52.      ,  44.      ],
          [ 63.61607 ,  50.61607 ,  42.61607 ],
          [ 63.973213,  50.      ,  42.486607],
          ...,
          [ 79.05975 ,  76.05975 ,  69.05975 ],
          [ 82.58829 ,  79.58829 ,  71.9722  ],
          [ 84.      ,  81.      ,  72.      ]],

         [[ 65.      ,  52.      ,  44.      ],
          [ 63.61607 ,  50.61607 ,  42.61607 ],
          [ 63.51919 ,  50.45402 ,  42.486607],
          ...,
          [ 79.08038 ,  76.08038 ,  69.08038 ],
          [ 82.61609 ,  79.61609 ,  72.      ],
          [ 84.      ,  81.      ,  72.      ]],

         ...,

         [[209.2052  , 212.00433 , 219.07129 ],
          [215.38356 , 218.1827  , 225.24965 ],
          [218.84648 , 220.70497 , 226.7987  ],
          ...,
          [130.32716 , 104.80625 ,  98.74509 ],
          [138.90984 , 120.557236, 112.87419 ],
          [142.59827 , 128.3974  , 119.330444]],

         [[226.      , 226.      , 234.      ],
          [221.84822 , 221.84822 , 229.84822 ],
          [217.08035 , 216.59375 , 223.62053 ],
          ...,
          [139.11331 , 111.20603 , 104.64737 ],
          [139.808   , 118.58829 , 110.      ],
          [137.04018 , 120.      , 110.      ]],

         [[226.      , 226.      , 234.      ],
          [221.84822 , 221.84822 , 229.84822 ],
          [217.08035 , 216.59375 , 223.62053 ],
          ...,
          [140.54019 , 111.64737 , 104.64737 ],
          [140.76782 , 117.92413 , 110.      ],
          [138.      , 120.      , 110.      ]]], dtype=float32),
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0),
 (array([[[255.      , 255.      , 255.      ],
          [255.      , 255.      , 255.      ],
          [255.      , 255.      , 255.      ],
          ...,
          [255.      , 255.      , 255.      ],
          [255.      , 255.      , 255.      ],
          [255.      , 255.      , 255.      ]],

         [[255.      , 255.      , 255.      ],
          [255.      , 255.      , 255.      ],
          [255.      , 255.      , 255.      ],
          ...,
          [255.      , 255.      , 255.      ],
          [255.      , 255.      , 255.      ],
          [255.      , 255.      , 255.      ]],

         [[255.      , 255.      , 255.      ],
          [255.      , 255.      , 255.      ],
          [255.      , 255.      , 255.      ],
          ...,
          [255.      , 255.      , 255.      ],
          [255.      , 255.      , 255.      ],
          [255.      , 255.      , 255.      ]],

         ...,

         [[144.26349 , 108.330444,  84.464355],
          [145.64742 , 109.760704,  84.464355],
          [147.26929 , 111.85722 ,  84.950966],
          ...,
          [ 90.714264,  89.74106 ,  92.22766 ],
          [ 91.20087 ,  91.20087 ,  93.20087 ],
          [ 91.20087 ,  91.20087 ,  93.20087 ]],

         [[133.8393  ,  98.95982 ,  76.91965 ],
          [135.22322 , 101.00791 ,  76.91965 ],
          [137.33821 , 103.37947 ,  77.44536 ],
          ...,
          [ 93.5134  ,  92.54019 ,  95.026794],
          [ 94.      ,  94.      ,  96.      ],
          [ 94.      ,  94.      ,  96.      ]],

         [[130.      ,  98.      ,  75.      ],
          [131.38393 ,  99.38393 ,  75.      ],
          [134.43303 , 101.45982 ,  76.45982 ],
          ...,
          [ 93.5134  ,  92.54019 ,  95.026794],
          [ 94.      ,  94.      ,  96.      ],
          [ 94.      ,  94.      ,  96.      ]]], dtype=float32),
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  1,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0)]

In [328]:
selected_attributes

['5_o_Clock_Shadow',
 'Bald',
 'Bangs',
 'Black_Hair',
 'Blond_Hair',
 'Brown_Hair',
 'Eyeglasses',
 'Goatee',
 'Gray_Hair',
 'Male',
 'Mustache',
 'No_Beard',
 'Sideburns',
 'Smiling',
 'Straight_Hair',
 'Wavy_Hair',
 'Wearing_Earrings',
 'Wearing_Hat',
 'Wearing_Lipstick',
 'Wearing_Necklace',
 'Wearing_Necktie']

In [330]:
tuple([attr for attr in selected_attributes])

('5_o_Clock_Shadow',
 'Bald',
 'Bangs',
 'Black_Hair',
 'Blond_Hair',
 'Brown_Hair',
 'Eyeglasses',
 'Goatee',
 'Gray_Hair',
 'Male',
 'Mustache',
 'No_Beard',
 'Sideburns',
 'Smiling',
 'Straight_Hair',
 'Wavy_Hair',
 'Wearing_Earrings',
 'Wearing_Hat',
 'Wearing_Lipstick',
 'Wearing_Necklace',
 'Wearing_Necktie')